# Ignore dependencies
node_modules/

# Ignore build folders
dist/
build/

# Ignore environment variables
.env

# Ignore log files
*.log

# Ignore IDE files
.vscode/
.DS_Store

venv/

ai_backend/__pycache__/
ai_backend/*.pyc
ai_backend/*.pyo
ai_backend/*.pyd
ai_backend/.env


